{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">

            <form action="/tasks/create/" method="POST" class="card card-body">

                <h1 class="text-center">Crear Tarea</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="títle">Titulo:</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Ingrese el título">
                </div>
                <div class="mb-3">
                    <label for="description">Descripción:</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="Ingrese la descripción">
                </div>

                <button class="btn btn-primary">
                    Guardar
                </button>

            </form>
        </div>
    </div>
</main>
{% endblock %}