{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">Registro de Actividades Diarias</h1>

        <p>Bienvenido a la plataforma de Registro de Actividades Diarias, diseñada exclusivamente para los practicantes de la Alcaldía Municipal de Chiquinquirá. Nuestra aplicación web es la herramienta esencial que facilitará el seguimiento y registro de tus actividades diarias de manera eficiente y organizada.</p>

    </section>
    <section class="card card-body">
        <h3 class="display-8 text-center">Características Destacadas:</h3>

        <p><b>1. Seguimiento en Tiempo Real:</b> Registra tus actividades diarias de manera instantánea, permitiéndote un seguimiento en tiempo real de tus tareas y proyectos.</p>
        <p><b>2. Sencillez de Uso:</b> Nuestra interfaz intuitiva te permite registrar actividades con facilidad, sin necesidad de complicados pasos.</p>
        <p><b>3. Historial de Actividades:</b> Mantén un registro histórico de tus actividades para futuras referencias y evaluaciones de desempeño.</p>
        <p><b>4. Reportes Personalizados:</b> Genera informes detallados de tus actividades, lo que facilita la comunicación con tus supervisores y la toma de decisiones informadas.</p>

    </section>
</main>

{% endblock %}