{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-4 text-center py-5">Actividades Registradas</h1>

            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                    {% if task.datecompleted %}
                    <header class="d-flex justify-content-between">
                        <h2 class="fw-bold text-success">{{task.title}}</h2>
                        <p class="fw-bold">{{task.user.username}}</p>
                    </header>
                    <p>Descripción: {{task.description}}</p>
                    <p>Fecha Inicio: {{ task.created|date }}</p>
                    <p>Fecha finalización: {{ task.datecompleted|date }}</p>
                    {% else %}
                    <a class="link-dark link-underline-opacity-0" href="{% url 'task_detail' task.id %}">
                        <header class="d-flex justify-content-between">
                            <h2 class="fw-bold text-primary">{{task.title}}</h2>
                            <p class="fw-bold">{{task.user.username}}</p>
                        </header>
                        <p>Descripción: {{task.description}}</p>
                        <p>Fecha Inicio: {{ task.created|date }}</p>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>

{% endblock %}