{% extends 'base.html' %}

{% block content %}

<h1>Actividades</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'task_detail' task.id %}">
            <h2>Actividad: {{task.title}}</h2>
            <p>Descripción: {{task.description}}</p>
            <p>Realizada por: {{task.user.username}}</p>
            <p>Fecha Inicio: {{ task.created|date }}</p>
            {% if task.datecompleted %}
            <p>Fecha finalización: {{ task.datecompleted|date }}</p>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}