{% extends 'base.html' %}

{% block content %}

<h1>{{task.title}}</h1>

{{error}}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        Actualizar Campos
    </button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button>
        Completar Actividad
    </button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button>
        Eliminar Actividad
    </button>
</form>



{% endblock %}